body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;

    margin: 0 auto;
    padding: 0px 75px;
}

.con-hero {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
}

.nav-wrap-list {
    display: flex;
    max-width: 478px;
    justify-content: space-between;
    flex-grow: 1;

    font-size: 18px;
    font-weight: 200;
}

.nav-panto-text-logo {
    margin: 0;
}

.nav-panto-text-logo {
    cursor: pointer;
}

.nav-wrap-text {
    color: white;
    text-decoration: none;

    border-bottom: 2px solid transparent;
    padding-bottom: 2px;

    transition: border-color 0.3s ease-in-out;
}

.nav-wrap-text:hover {
    border-color: white;
    cursor: pointer;
}

.hero-div-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 524px;

    position: relative;
}

.hero-big-text {
    margin: 85px 0 0 0;
    text-align: center;

    font-family: 'Gilroy', sans-serif;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 700;
    line-height: 130%;
}

.hero-thin-text {
    color: #bebebe;

    font-weight: 100;
    font-size: 24px;
    line-height: 160%;

    text-align: center;
    margin-bottom: 45px;
}

.wrap-search-furniture {
    font-weight: 100;
    font-size: 18px;
    line-height: 150%;

    max-width: 345px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);

    border: rgb(195, 195, 195) solid 2px;
    border-radius: 42px;

}

#search-but {
    margin: 8px;
    transition: transform 0.3s ease;
}

#search-but:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.search-furniture {
    padding: 15px 0 15px 15px;

    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;

    font-size: 18px;
    flex-grow: 1;

}

.search-furniture::placeholder {
    color: rgb(195, 195, 195);

    font-size: 18px;
    font-weight: 200;
}

/*========================================================*/

.w-c-u-sec {
    background-color: #FFFFFF;

    padding-top: 120px;
    padding-bottom: 108px;

    max-width: 1920px;
    margin: 0 auto;
}

.w-c-u-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.w-c-u-big-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #1E1E1E;

    margin: 0;
}

.w-c-u-grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(15px, 20px, 25px);

    max-width: 1200px;

    margin-left: auto;

}

.w-c-u-card {
    display: flex;
    flex-direction: column;
}

.w-c-u-card-header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 24px;

    color: #1E1E1E;

    margin-bottom: 20px;
}

.w-c-u-card-title{
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: clamp(10px, 1rem, 16px);
    line-height: 180%;
    color: rgba(30, 30, 30, 0.8);

    margin-bottom: 14px;
}

.link-more-info-wrap {
    display: flex;
    flex-direction: row;

    gap: 10px;
    margin-top: auto;

    color: rgba(229, 132, 17, 1);
    text-decoration: none;
}
